* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.full-width {
  width: 100%;
}

.one-half-width {
  display: inline-block;
  width: 50%;
}

nav {
  height: 60px;
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 60px;
}

li {
  padding: 15px;
  display: inline-block;
  text-align: center;
  border-style: block;
}

.logo {
  width: 60px;
  float: left;
  height: 60px;
  position: relative;
}

.logo-name {
  position: absolute;
  color: rgb(218, 218, 90);
  display: block;
  font-size: 40px;
  padding: 0px;
  margin: 0px;
  left: 80px;
}

.nav-item {
  float: right;
}

.nav-links {
  color: black;
  padding: 30px;
  margin: 0 px;
  text-decoration: none;
  background-color: black;
}

.nav-links:hover {
  background-color: rgb(218, 218, 90);
}

.hav-links:active {
  background-color: red;
}

.nav-links:visited {
  color: grey;
}

header {
  height: 550px;
}

.intro {
  background-color: black;
}

#intro-home {
  position: relative;
  height: 550px;
  background-image: url(./Images/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

#contact-page {
  position: relative;
  height: 550px;
  background-image: url(./Images/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

#about-page {
  position: relative;
  height: 800px;
  background-image: url(./Images/bananaearthspace.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: black;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.intro-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: #000000;
  background-color: rgb(218, 218, 90);
  text-align: center;
  cursor: pointer;
  position: relative;
  top: 50px;
  width: 120px;
}

.intro-button:hover {
  background-color: #000000;
  color: rgb(218, 218, 90);
}

.intro-text {
  position: absolute;
  left: 500px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin: 0 10%;
}

.intro-text p {
  font-size: 130px;
  margin-bottom: 30px;
  color: rgb(218, 218, 90);
  font-weight: bold;
}

.intro-text h1 {
  font-size: 24px;
  line-height: 30px;
  color: rgb(218, 218, 90);
}

.info1 {
  background-color: black;
  float: left;
  height: 700px;
}

.about-text {
  position: absolute;
  left: 460px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin: 0 10%;
}

.about-text p {
  font-size: 80px;
  margin-bottom: 30px;
  color: rgb(218, 218, 90);
  font-weight: bold;
}

.about-text h1 {
  font-size: 24px;
  line-height: 30px;
  color: rgb(218, 218, 90);
  width: 600px;
}

.skateboard2 {
  background-image: url(./Images/skateboard2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.whitet1 {
  background-image: url(./Images/whitet1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.sweater1 {
  background-image: url(./Images/sweater1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.whitet2 {
  background-image: url(./Images/whitet2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.info2 {
  background-color: black;
  float: right;
  height: 700px;
}

.info-text {
  position: absolute;
  right: 25%;
  top: 80%;
  color: rgb(218, 218, 90);
  font-size: 80px;
}

iframe {
  height: 700px;
  float: left;
}

footer {
  height: 60px;
  clear: both;
  background-color: black;
}

.social-tag-20 {
  height: 67px;
  width: 100px;
  margin-left: 125px;
  margin-right: 125px;
}

.contact-text {
  position: relative;
  right: 20px;
  top: 20%;
  transform: translateY(-50%);
  text-align: center;
  margin: 0 10%;
  color: rgb(218, 218, 90);
}

.contact-form {
  position: relative;
  border: none;
  left: 5px;
  top: 110px;
  text-align: center;
  margin: 0 45%;
  background-color: rgb(218, 218, 90);
}

.comment-form {
  border: none;
  position: relative;
  right: 78px;
  top: 110px;
  text-align: center;
  margin: 0 45%;
  background-color: rgb(218, 218, 90);
}

textarea {
  width: 320px;
}

.col-33 {
  display: inline-block;
  width: 33.33%;
  float: left;
}

.col-text {
  color: white;
  background-color: black;
}

paragraph {
  width: 475px;
  height: 380px;
  background-color: white;
  position: absolute;
  transform: translatex(15%) translateY(60px);
}

.vertical-center-wrapper {
  position: relative;
  left: 0%;
  top: 25%;
  transform: translateY(-50%);
  text-align: center;
  margin: 0 10%;
  color: rgb(218, 218, 90);
}

.copy-right-wrapper {
  height: 35px;
  background-color: black;
  color: black;
}

.contactinfo-text {
  position: absolute;
  top: 1000px;
  left: 80px;
  transform: translateY(-50%);
  margin: 0 10%;
}

.contactinfo-text p {
  font-size: 30px;
  margin-bottom: 30px;
  color: rgb(218, 218, 90);
  font-weight: bold;
}

.contact-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: #000000;
  background-color: rgb(218, 218, 90);
  text-align: center;
  cursor: pointer;
  position: relative;
  right: 25px;
  top: 120px;
  text-align: center;
  margin: 0 48.4%;
}

.contact-button:hover {
  background-color: #000000;
  color: rgb(218, 218, 90);
}
