* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.full-width {
  width: 100%;
}

.one-half-width {
  display: inline-block;
  width: 50%;
}

nav {
  height: 60px;
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 60px;
}

li {
  padding: 15px;
  display: inline-block;
  text-align: center;
  border-style: block;
}

.logo {
  width: 67px;
  float: left;
  height: 67px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-item {
  float: right;
}

.nav-links {
  color: black;
  padding: 30px;
  margin: 0 px;
  text-decoration: none;
  background-color: black;
}

.nav-links:hover {
  background-color: rgb(218, 218, 90);
}

.hav-links:active {
  background-color: red;
}

.nav-links:visited {
  color: grey;
}

header {
  height: 550px;
}

.intro{
  background-color: black;
}

#intro-home {
  position: relative;
  height: 550px;
  background-image: url(https://picsum.photos/1000/1000);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.introhome-text {
  position: absolute;
  left: 220px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin: 0 10%;
}

.introhome-text h1 {
  font-size: 64px;
  margin-bottom: 30px;
}

.introhome-text h3 {
  font-size: 24px;
  line-height: 30px;
}

.info1 {
  background-color: teal;
  float: left;
  height: 550px;
}

.info2 {
  background-color: rgb(164, 216, 248);
  float: right;
  height: 550px;
}

.info-text {
  position: absolute;
  right: 10%;
  top: 80%;
  transform: translateY(-50%);
  text-align: center;
  margin: 0 10%;
  color: white;
}

iframe {
  height: 550px;
  float: left;
}

footer {
  height: 60px;
  clear: both;
  background-color: black;
}

.social-tag-20 {
  height: 67px;
  width: 100px;
  margin-left: 120px;
  margin-right: 120px;
}

.contact-text {
  position: relative;
  right: 20px;
  top: 20%;
  transform: translateY(-50%);
  text-align: center;
  margin: 0 10%;
  color: white;
}

.contact-form {
  position: relative;
  left: 5px;
  top: 110px;
  text-align: center;
  margin: 0 45%;
}

.comment-form {
  position: relative;
  right: 78px;
  top: 110px;
  text-align: center;
  margin: 0 45%;
}

button {
  position: relative;
  right: 8px;
  top: 110px;
  text-align: center;
  margin: 0 48.4%;
}

textarea {
  width: 320px;
}

.col-33 {
  display: inline-block;
  width: 33.33%;
  float: left;
}

.col-text {
  color: white;
  background-color: grey;
}

paragraph {
  width: 475px;
  height: 380px;
  background-color: lightblue;
  position: absolute;
  transform: translatex(15%) translateY(60px);
}
